<style>
/*fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }*/
/*table {
    width: 50%;

}
thead, tbody, tr, td, th { display: block; }
tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
thead th {
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}
/*tbody {
    height: 350px;
    overflow-y: auto;
}*/
/*thead {

    width: 30%;

    width: calc(100% - 17px);
}
.trainTable thead{
  width: 30%;
  width: calc(100% - 0px);
}
tbody td, thead th {
    width: 18%;
    float: left;
    border-right: 1px solid black;
}*/
/*.tbl3 td{
  width: 18%;
  float: left;
  border-right: 1px solid black;
}
.tbl3Input{
  width:95px;
}*/

</style>
